@model SisVest.DomainModel.Entities.Vestibular

@{
    ViewBag.Title = "Alterar";
}

<h2>Alterar Vestibular</h2>

@using (@Html.BeginForm())
{
 
    @Html.EditorForModel()
    <p><input type="submit" value="Alterar" /></p>

}

<script type="text/javascript">
    $('#DtInicioInscricao').datepicker();
    $('#DtFimInscricao').datepicker();
    $('#DtProva').datepicker();
</script>