@model SisVest.DomainModel.Entities.Vestibular

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir Vestibular</h2>

@using (@Html.BeginForm("Excluir", "Vestibular", Model))
{
    
    @Html.DisplayForModel()
    <p><input type="submit" value="Excluir" /></p>

}
