@model SisVest.DomainModel.Entities.Vestibular

@{
    ViewBag.Title = "Inserir";
}


<h2>Cadastrar novo Vestibular</h2>

@using (@Html.BeginForm())
{
    @Html.EditorForModel()
    <p><input type="submit" value="Inserir" /></p>
}

<script type="text/javascript" >
    $('#DtInicioInscricao').datepicker();
    $('#DtFimInscricao').datepicker();
    $('#DtProva').datepicker();
</script>
