@model SisVest.DomainModel.Entities.Curso

@{
    ViewBag.Title = "Alterar";
}

<h2>Alterar Curso</h2>

@using (@Html.BeginForm())
{
    <p>@Html.ValidationSummary(false)</p>
    @Html.EditorForModel()
    <p>
        <input type="submit" value="Altear"/>
    </p>

}

