@model SisVest.DomainModel.Entities.Curso

@{
    ViewBag.Title = "Alterar";
}

<h2>Alterar Curso</h2>



@using (@Html.BeginForm())
{
    HtmlHelper.ClientValidationEnabled = false;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
    
    
    @Html.EditorForModel()
    <p><input type="submit" value="Alterar"/></p>

}
<div>
    @Html.ActionLink("Retornar", "Index")
</div>
