@model SisVest.DomainModel.Entities.Curso

@{
    ViewBag.Title = "Excluir";
}

<h2> @ViewBag.Title</h2>

@using (@Html.BeginForm("Excluir", "Curso", Model))
{
    
    @Html.DisplayForModel()
    
    <p><input type="submit" value="Excluir" /></p>

}
