@model List<SisVest.WebUI.Models.CursoModel>

@{
    ViewBag.Title = "Index";
}

<h2>Listagem de Cursos</h2>

<p>
    @Html.ActionLink("Cadastrar Novo Curso", "Inserir")
</p>

@{
    var  grid = new WebGrid(source:Model, rowsPerPage:3);
    
}

@grid.GetHtml(
    tableStyle: "webgrid-table",
    headerStyle: "header",
    footerStyle: "footer",

    columns: grid.Columns(
        grid.Column("sDescricao", header: "Curso"),
        grid.Column("iVagas", header: "Vagas"),
        grid.Column("iTotalCandidatos", header: "Candidatos Inscritos"),
        grid.Column("iTotalCandidatosAprovados", header: "Candidatos Aprovaos"),
        grid.Column(header: "Editar", format: (item)=> @Html.ActionLink("Alterar", "Alterar", new { id = item.ICursoId }), canSort: false ),
        grid.Column(header: "Excluir", format: (item) => @Html.ActionLink("Excluir", "Excluir", new { id = item.ICursoId }), canSort: false))
 )

