@model SisVest.DomainModel.Entities.Curso

@{
    ViewBag.Title = "Inserir";
}

<h2>Cadastrar novo Curso</h2>

@using (@Html.BeginForm())
{
    <p>@Html.ValidationSummary(true)</p>
    @Html.EditorForModel()
    <p>
        <input type="submit" value="Inserir" />
    </p>

}

